<p id="notice"><%= notice %></p>

<h1>Sabores</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toppings.each do |topping| %>
      <tr>
        <td><%= topping.kind %></td>
        <td><%= topping.price %></td>
        <td><%= link_to 'Mostrar', topping %></td>
        <td><%= link_to 'Editar', edit_topping_path(topping) %></td>
        <td><%= link_to 'Apagar', topping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Sabor', new_topping_path %>
