<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @topping.kind %>
</p>

<p>
  <strong>Price:</strong>
  <%= @topping.price %>
</p>

<%= link_to 'Editar', edit_topping_path(@topping) %> |
<%= link_to 'Voltar', toppings_path %>
