<%= form_with(model: pizza, local: true) do |form| %>
  <% if pizza.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pizza.errors.count, "error") %> prohibited this pizza from being saved:</h2>

      <ul>
        <% pizza.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div1><%= form.label :"Tamanho" %></div>
    <%= form.number_field :size %>
  </div>

  <div class="field">
    <%= form.label :"Sabor" %>	
    <%= form.select :topping_id, Topping.all.collect {|m| [ m.kind, m.id ] }, id: :pizza_topping_id %>
  </div>

  <div class="actions">
    <%= form.submit :"Criar Pizza" %>
  </div>
<% end %>
