<!doctype html>
<html>  
  <link rel="stylesheet" href="style.css">
  <p id="notice"><%= notice %></p>
<head>
</head>
<body>
  <center>
    <h1>Pizzas</h1>

    <table>
      <thead>
        <tr>
          <titulos1><th>Tamanho</th></titulos1>
          <titulos2><th>Sabor</th></titulos2>
          <titulos3><th>Usuário</th></titulos3>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @pizzas.each do |pizza| %>
          <tr>
            <atributos><td><%= pizza.size %></td></atributos>
            <td><%= pizza.topping.kind %></td>
            <td><%= pizza.user.email %></td>
            <td><%= link_to 'Mostrar', pizza %></td>
            <td><%= link_to 'Editar', edit_pizza_path(pizza) %></td>
            <td><%= link_to 'Apagar', pizza, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <newpizza><%= link_to 'Nova Pizza', new_pizza_path %></newpizza>
</body>
</html>