<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="showpizza.css">
<p>
  <strong>Tamanho:</strong>
  <%= @pizza.size %>
</p>

<p>
  <strong>Sabor:</strong>
  <%= @pizza.topping.kind %>
</p>

<p>
  <strong>Usuário:</strong>
  <%= @pizza.user.email %>
</p>
<botao>
<%= link_to 'Editar', edit_pizza_path(@pizza) %> |
<%= link_to 'Voltar', pizzas_path %>
</botao>