body{
    background: url("foto3.jpeg");
}
h1{
    font-family: Impact;
    font-size: 80px;
}
atributos{
    font-size: 20px;
}
newpizza{
    font-family: Impact;
    font-size: 22px;
    background-color: gold;     
}
div{
    font-size: 30px;
    font-style: bold;
    margin: auto;
    text-align: center;
}
tr{
    background-color: gold;
    font-size: 22px;
}