<!DOCTYPE html>
<html>
  <head>
    <title>Pizzaria</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
    <img></img>
    <links>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </links>
    <%= yield %>
  </body>
</html>
